.userinfo{
    padding: 12px;
    
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.user{
    padding: 20px;
    display: flex;
    align-items: center;
    
    gap: 10px;

    img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        
    }
    
}
h2{
    font-size: 20px;
}
.icons{
    display: flex;
    justify-content: space-between;
    gap:17px;

    img{
        width: 18px;
        height: 18px;

    }
}